.gradle/
build/
gradle-app.setting
!gradle-wrapper.jar
/gradlew
/gradlew.bat
/gradle/wrapper/gradle-wrapper.jar
/gradle/wrapper/gradle-wrapper.properties
.idea/
*.iml
*.iws
*.ipr
out/
.classpath
.project
.settings/
bin/
gen/
local.properties
.DS_Store
Thumbs.db
*.swp
*.swo
*~
